@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
* Fix iOS overscroll background color */
/* :root {
  overflow: auto;
  overscroll-behavior: none;
}

html {
  overscroll-behavior: none;
  height: 100%;
}

body {
  overscroll-behavior: none;
  min-height: 100%;
} */


::selection {
  background: #8884;
}

/* Add fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

/* CRT text effects */
.crt-text-effect {
  animation: textShadow 1.6s forwards;
}

.crt-text {
  text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.8),
    -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 4px;
}

.light .crt-text {
  text-shadow: none;
}

.light .crt-text-effect {
  animation: none;
  /* No animation for light mode */
}

.crt-text-blue {
  text-shadow: 0.4389924193300864px 0 1px rgba(0, 102, 255, 0.8),
    -0.4389924193300864px 0 1px rgba(0, 102, 255, 0.3), 0 0 4px;
}

/* Scanlines overlay */

/* Screen flicker animation */
@keyframes textShadow {
  0% {
    text-shadow: 3px 0 1px rgba(0, 30, 255, 1), -3px 0 1px rgba(255, 0, 80, 0.8),
      0 0 4px;
  }
  20% {
    text-shadow: 3px 0 1px rgba(0, 30, 255, 1), -3px 0 1px rgba(255, 0, 80, 0.8),
      0 0 4px;
  }
  50% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.4), 0 0 4px;
  }
  90% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.8),
    -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 4px;
  }
}
